*{
    margin: 0;         /*el margin es el espacio fuera de la credencial, elimina margenes automaticos del navegador*/
    padding: 0;         /* elimina espacios automaticos internos*/
    box-sizing: border-box;
}


body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}


.titulo-reservas {
    font-size: 28px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 10px;
}

.descripcion-reservas {
    font-size: 14px;
    color: #555555;
}

.btn-agregar-cancha {
    background-color: #FBC02D;
    color: #2E7D32;
    border: 1px solid #FBC02D;
    border-radius: 8px;
    padding: 12px 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-agregar-cancha:hover {
    background-color: white;
    color: #2E7D32;
    border-color: #2E7D32;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-agregar-cancha i {
    font-size: 24px;
}


.tabla-contenedor {
    background-color: white;
    border: 1px solid #2E7D32;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 20px 20px 10px rgba(100, 50, 5, 0.12);
}

.tabla-contenedor thead th {
    background-color: #2E7D32;
    color: white;
    text-align: center;
    padding: 14px 10px;
    font-weight: 600;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
}

.tabla-contenedor thead th:last-child {
    border-right: none;
}

.mensaje-sin-canchas {
    text-align: center;
    font-size: 14px;
}


.tabla-contenedor tbody td {
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 12px;
    text-align: center;
}


body {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.90),
        rgba(255, 255, 255, 0.30)
    ),
    url("../assets/images/futbol5.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.badge-disponible {
    background-color: #2E7D32;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
}

.badge-no-disponible {
    background-color: #dc3545;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
}


.icono-administrador {
    width: 35px;
    height: 35px;
    background-color: #2E7D32;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.50);
}



.tarjeta-resumen {
    width: 140px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 20px 20px 10px rgba(100, 50, 5, 0.12);
    margin: auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tarjeta-resumen:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 18px rgba(0, 0, 0, 0.22);
}


.tarjeta-resumen .card-body {
    min-height: 110px;
    padding: 10px;
}

.icono-resumen {
    font-size: 25px;
}

.tarjeta-total .icono-resumen {
    color: #FBC02D;
}

.tarjeta-completadas .icono-resumen {
    color: #2E7D32;
}

.tarjeta-canceladas .icono-resumen {
    color: #EF5350;
}

textarea{
    resize: none;
    height: 50px;
    max-height: 100px;
}

.trash-logo{
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.trash-logo:hover{
    color: red;
    transform: scale(1.2);
}

.imagenPanel{
    border-radius: 5px;
}

.btn-agregar{
    color: rgb(255, 255, 255);
    background-color: #2E7D32;
}

.btn-agregar:hover{
    color: rgb(255, 255, 255);
    background-color: #184d1b;
}

.modal-title{
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.headerModal{
    background-color: #2E7D32;
}